@model Food.Entity.Products

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_ReducePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_ReducePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Img1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Img1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Img2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Img2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Img3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Img3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Img4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Img4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pd_ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pd_ShortDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="pd_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
