@model IEnumerable<Food.Entity.ContactSystem>

@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<h1>IndexAdmin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contact_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contact_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contact_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
