@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}





<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ChartJS</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ChartJS</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                     
                     <div id="barchart_values" style="width: 900px; height: 300px;"></div>
                </div>
            </div>
        </div>


        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content -->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "Volum", { role: "style" } ],
          ["January", parseInt(@ViewBag.January), "#b87333"],
          ["February", parseInt(@ViewBag.February), "silver"],
          ["March", parseInt(@ViewBag.March), "gold"],
          ["April", parseInt(@ViewBag.April), "color: #e5e4e2"],
          ["May", parseInt(@ViewBag.May), "#b87333"],
          ["June", parseInt(@ViewBag.June), "silver"],
          ["July", parseInt(@ViewBag.July), "gold"],
          ["August", parseInt(@ViewBag.August), "color: #e5e4e2"],
          ["September", parseInt(@ViewBag.September), "#b87333"],
          ["October", parseInt(@ViewBag.October), "silver"],
          ["November", parseInt(@ViewBag.November), "gold"],
          ["December", parseInt(@ViewBag.December), "color: #e5e4e2"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);

        var options = {
          title: "Chart",
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
        chart.draw(view, options);
    }
</script>
